<h1>Favorites show</h1>
<p>Showing Your Picks</p>

<div class="container">
  <p><%=@favorite.strain%></p>
  <p><%=@favorite.comment%></p>
</div>
<section class="card bg-secondary w-50 mb-3 border-danger">
  <div class="card-body">
  <img src="<%=@favorite.comment%>" class="card-img img-thumbnail img-fluid rounded-circle" alt=""/>
  <h2 class="card-title text-info">
    "<%=@favorite.strain%>"
  </h2>
  </div>
</section>
