<h1 class="display-4 text-center text-primary bg-warning">Favorites show</h1>
<p class="text-primary text-center">Showing Your Picks</p>

<div class="container">
  <div class="row">
    <section class="card bg-danger w-50 my-5 mx-5 border-white ">
      <div class="card-body">
        <h2 class="card-title text-info bg-dark">
          "<%=@favorite.strain%>"
        </h2>
        <%= image_tag @favorite.comment, class: "card-img img-thumbnail rounded-circle border-danger" %>
        <!-- <img src="<%=@favorite.comment%>" class="card-img img-thumbnail rounded-circle border-danger" style="width: 256px;" alt="Weed!"/> -->
      </div>
    </section>
  </div>
</div>
