<h1>Your Favorites</h1>
<div class="container">
  <div class="row bg-white">
    <%@favorites.each do |el|%>
      <div class="col-6">
        <p><%=el.strain%></p>
      </div>
      <div class="col-6">
        <p><%=el.comment%></p>
      </div>
    <%end%>
  </div>
</div>
<div class="container bg-warning">
<button class="btn btn-lg btn-secondary" type="button" name="button"><%= link_to 'Edit Fav', edit_favorite_path(current_user.id) %></button>
<button class="btn btn-lg btn-danger" type="button" name="button"><%= link_to 'Delete Fav', favorite_path(current_user.id), method: :delete %></button>
</div>
