<h1>Your Favorites</h1>
<div class="container">
  <div class="row bg-white">
    <%@favorites.each do |el|%>
      <div class="col-6">
        <p><%=el.strain%></p>
      </div>
      <div class="col-6">
        <p><%=el.comment%></p>
      </div>
    <%end%>
  </div>
</div>
