// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;

}

body {
  background-attachment: fixed;
  background-image: image-url("weeds.jpg");
  background-position: center;
  background-size: cover;
  // margin: 20px;
}

p {
  font-size: 25px;
}
