// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;

}

// body {
//   background-attachment: fixed;
//   background-image: image-url("weed.jpeg");
//   background-position: center;
//   background-size: cover;
//   margin: 20px;
// }

// a {
//   color: orange;
// }

p {
  font-size: 25px;
}

// img {
//   width: 100px;
//   height: 100px;
// }

// .joint {
//
//   color: blue;
// }



.new-form {
  display: none;
  width: 380px;
  height: 420px;
  background-color: lightgray;
  color: midnightblue;
  // position: fixed;

}
